:root{
    --blanco:#FFFFFF;
    --negro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --fuenteprincipal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;  /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: var(--fuenteprincipal);
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    /*
    margin-top: 0;
    margin-right: auto;
    margin-buttom: 0;
    margin-left: auto; 
    */
    margin: 0 auto 0 auto;
}

.nav_bg{
    background-color: var(--secundario);
}

.nav_prin  {
    /* margin-top: 10rem; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
   
}
.nav_prin a {
    color: var(--blanco);
   text-decoration: none;   /* para quitar los subrayados */

}